.header {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.title {
  flex-basis: 58%;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.logo {
  width: 165px;
  height: 40px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 120px;
  background-image: url('../../assets/images/svg/logo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.burger {
  display: none;
}

@media (max-width: 1100px) {

  .header {
    justify-content: start;
  }

  .logo,
  .user {
    display: none;
  }
}

@media (max-width: 768px) {

  .header {
    padding: 0 64px;
    justify-content: start;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    padding-top: 32px;
    padding-bottom: 22px;
  }
}

@media (max-width: 320px) {

  .header {
    padding: 0 16px;
  }

  .burger {
    width: 24px;
    height: 24px;
    margin-top: 0;
    background-size: 24px;
  }

  .title {
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
