.btn {
  padding: 10px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  outline: 0;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btnCard {
  width: 166px;
}

.btnRate {
  width: 350px;
  margin-bottom: 42px;
}

.btnBook,
.btnFormErr {
  width: 350px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  border-radius: 30px;
}

.btnFormErr {
  width: 100%;
}

.btnRegistration {
  width: 100%;
  margin-top: 32px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  border-radius: 30px;
}

.btn:hover {
  border: 1px solid #ff740f;
  box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
}

.btn:active {
  box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
}

.btn:disabled {
  background: #EBEBEB;
}

@media (max-width: 768px) {

  .btnRate {
    width: 100%;;
  }

  .btnBook {
    width: 306px;
  }
}

/* @media (max-width: 650px) {

  .btnRegistration {
    margin-top: 22px;
  }
} */

@media (max-width: 320px) {

  .btnRate {
    height: 40px;
    margin-bottom: 0;
  }

  .btnCard,
  .btnBook {
    width: 100%;;
  }

  .btnBook {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

