.return {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: -16px;
  padding: 23px 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #727272;
  background: #f9f9fa;
  border-radius: 16px 16px 0px 0px;
  background-image: url('../../assets/images/svg/return.svg');
  background-size: 24px;
  background-position: left 16px center;
  background-repeat: no-repeat;
}
