.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.isValid {
  position: absolute;
  top: 16px;
  right: 44px;
  width: 24px;
  height: 24px;
  background-image: url('../../../assets/images/svg/check-mark.svg');
  background-size: 24px;
  background-repeat: no-repeat;
}
