.container {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 1px;
  content: '';
  background: #ebebeb;
}

.amount {
  padding-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a7a7a7;
}

@media (max-width: 768px) {

  .reviewsWrapper {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-bottom: 20px;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .title::after {
    width: 305px;
  }
}

@media (max-width: 320px) {

  .title {
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .title::after {
    width: 288px;
  }
}
