.tile {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 21.5px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0 16px;
}

.wrapperTile {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 16px 8px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}

.wrapperList {
  width: 100%;
  max-width: 825px;
  display: flex;
  padding: 24px 24px 24px 16px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .tile {
    gap: 32px 35px;
  }

  .wrapperTile {
    padding: 8px 8px 16px 8px;
  }
}

@media (max-width: 320px) {

  .tile {
    justify-content: center;
    gap: 16px 0;
  }

  .book {
    width: 100%;
  }

  .wrapperTile {
    width: 100%;
    padding: 8px 16px 16px 16px;
  }

  .wrapperList {
    padding: 16px 16px 16px 8px;
    border-radius: 10px;
  }

  .buttons {
    flex-direction: column;
  }
}
